<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- CSS SECTION -->
    <link rel="stylesheet" href="/scripts/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/scripts/lib/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/scripts/lib/font-awesome/css/font-awesome.min.css"/>
    <link rel='stylesheet' href='/content/app.css'/>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <h1>About Me</h1>
          <p>Welcome to <%= title %></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci fuga possimus totam ipsa iste perspiciatis enim provident harum corrupti, quod reprehenderit quisquam, dicta consequuntur itaque voluptate. Repellat architecto, unde! Sequi necessitatibus, assumenda natus odit. Illo amet accusamus itaque eveniet fugiat? Pariatur quam, quo laborum eveniet saepe officiis dolor dolorem, quas provident, omnis a iure quidem aliquid nobis. Odio cupiditate est modi repudiandae, placeat officia rerum ab tempore temporibus, expedita non unde reprehenderit, blanditiis maiores assumenda soluta! Incidunt perferendis porro debitis quibusdam nisi doloremque eos maxime quo voluptatem alias consectetur, iste nihil dolores ratione illo voluptas est unde! Facilis, quidem explicabo, nesciunt distinctio rem a veniam molestiae repellendus labore quibusdam aliquid at libero quia quam atque voluptas, iusto architecto? Veritatis incidunt molestiae deserunt pariatur est maxime hic inventore omnis consectetur doloribus, nemo totam alias iure eum, eius esse, dolorum non aliquid cumque minus atque perspiciatis soluta error. Voluptas beatae iure laboriosam quos explicabo! Quod, iste, ipsam. Explicabo esse impedit laboriosam fugit quasi nobis numquam dolore id non optio a repellat asperiores autem tempore qui voluptas aperiam, doloribus aliquam veniam pariatur eveniet ab? Perspiciatis doloribus quos explicabo beatae facilis illo, deleniti quam ab consectetur, praesentium officiis odit veritatis saepe eum temporibus aperiam aliquid commodi, quae deserunt. Corporis dolore, assumenda minus. Repellat adipisci provident debitis a odio aperiam minima accusamus necessitatibus reiciendis temporibus optio impedit repellendus vel atque ab, sit sapiente cum voluptate soluta laboriosam eveniet quam delectus. Eveniet, eius velit voluptatem, dolorem molestiae corporis odio voluptatum, maxime aut a eligendi facilis odit architecto minima temporibus non officiis iure quisquam aspernatur adipisci dolores. Itaque praesentium earum id hic ad omnis ipsum iusto facilis et eius fugiat vitae molestias voluptatem nemo blanditiis, pariatur quae ratione, quis repellat doloribus inventore a quasi! Laboriosam perspiciatis mollitia impedit commodi quibusdam, officiis libero possimus veritatis nemo eos accusantium optio laudantium adipisci velit corporis debitis, et, harum, est enim quos? Quaerat esse sapiente facere, error expedita molestiae dolorum ad? Labore nemo commodi quaerat architecto atque suscipit dolorum! Odit magnam dolore amet minus vitae. Quia doloribus molestiae rem ab dolor dignissimos cum laboriosam explicabo, dolorem, dolore dolorum totam ut porro maiores debitis repellendus dicta tempora commodi in, odio iure aut. Accusamus odio a non neque molestiae distinctio sapiente assumenda, eveniet magnam qui velit sed culpa labore autem. Aut dicta debitis cumque nemo nulla, sit magnam officia expedita quae illo eligendi illum praesentium dolore, ad, labore omnis quos quo repellendus ratione.</p>
        </div>
      </div>
    </div>
    <!-- JAVASCRIPT SECTION -->
    <scripts src="/scripts/lib/jquery/dist/jquery.min.js"></scripts>
    <script src="/scripts/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/scripts/app.js"></script>
  </body>
</html>
